---
- name: Create plugins directory if it doesn't exist
  file:
    path: "{{ sonarqube_dir }}/extensions/plugins"
    state: directory
    mode: 0755
    owner: "{{ sonarqube_user }}"
    group: "{{ sonarqube_group }}"

- name: Download community branch plugin
  get_url:
    url: "https://github.com/mc1arke/sonarqube-community-branch-plugin/releases/download/{{ plugin_version }}/sonarqube-community-branch-plugin-{{ plugin_version }}.jar"
    dest: "{{ sonarqube_dir }}/extensions/plugins/"
    mode: 0644
    owner: "{{ sonarqube_user }}"
    group: "{{ sonarqube_group }}"

- name: Configure Java agent for web component
  lineinfile:
    path: "{{ sonarqube_dir }}/conf/sonar.properties"
    regexp: "^#?sonar.web.javaAdditionalOpts="
    line: "sonar.web.javaAdditionalOpts=-javaagent:{{ sonarqube_dir }}/extensions/plugins/sonarqube-community-branch-plugin-{{ plugin_version }}.jar=web"
    backup: yes
  notify: Restart SonarQube

- name: Configure Java agent for compute engine
  lineinfile:
    path: "{{ sonarqube_dir }}/conf/sonar.properties"
    regexp: "^#?sonar.ce.javaAdditionalOpts="
    line: "sonar.ce.javaAdditionalOpts=-javaagent:{{ sonarqube_dir }}/extensions/plugins/sonarqube-community-branch-plugin-{{ plugin_version }}.jar=ce"
    backup: yes
  notify: Restart SonarQube
