---
- name: Настройка RDP доступа для root
  lineinfile:
    path: /etc/xrdp/sesman.ini
    regexp: '^AllowRootLogin='
    line: "AllowRootLogin={{ 'true' if rdp_allow_root else 'false' }}"
    backup: yes
  notify: restart xrdp

- name: Предупреждение о включенном root RDP
  debug:
    msg: "⚠️ ВНИМАНИЕ: Root доступ через RDP включен. Рекомендуется использовать пользователя {{ gitlab_runner_user }}"
  when: rdp_allow_root

- name: Настройка порта RDP
  lineinfile:
    path: /etc/xrdp/xrdp.ini
    regexp: '^port='
    line: 'port={{ rdp_port }}'
    backup: yes
  notify: restart xrdp

- name: Настройка высокого шифрования RDP
  lineinfile:
    path: /etc/xrdp/xrdp.ini
    regexp: '^crypt_level='
    line: 'crypt_level=high'
    backup: yes
  notify: restart xrdp

- name: Применение конфигурации xrdp
  meta: flush_handlers

- name: Проверка статуса службы xrdp
  systemd:
    name: xrdp
    state: started
    enabled: yes

- name: Проверка доступности RDP порта
  wait_for:
    host: localhost
    port: "{{ rdp_port }}"
    state: started
    timeout: 30
