---
- name: Install required packages
  apt:
    name:
      - wget
      - unzip
      - python3-psycopg2
      - openjdk-17-jdk
    state: present
    update_cache: yes

- name: Set JAVA_HOME environment variable
  lineinfile:
    path: /etc/environment
    line: 'JAVA_HOME="/usr/lib/jvm/java-17-openjdk-amd64"'
    state: present

- name: Ensure Java 17 is the default
  alternatives:
    name: java
    path: /usr/lib/jvm/java-17-openjdk-amd64/bin/java
